* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Class pour garder un texte visible uniquement au screen reader*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

a {
  text-decoration: none;
}

html {
  background-color: #FFFFFF;
  font-family: DM Sans;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* mise en forme page d'accueil */
body {
  max-width: 1320px;
  width: 90%;
  margin: 42px 100px 90px 100px;
  position: relative;
}

/* mise en forme header */
.body-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.body-header-img a {
  display: block;
  height: 50px;
  margin-left: 25px;
}

.body-header-img-profil a {
  display: block;
  height: 50px;
}

.header-nav ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.header-nav ul li{
  text-align: center;
}

.header-navigation-item a {
  text-decoration: none;
  color: inherit;
  width: 68px;
  height: 22px;
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 11px;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #911C1C;
  margin: 0 3px 0 3px;
  padding: 0 3px 0 3px;
}

.header-navigation-item a:hover,
.header-navigation-item a:focus {
  transition: 100ms;
  background: #911C1C;
  font-weight: normal;
  color: #FFFFFF;
}

.h1-placeholder {
  width: 306px;
}

/* mise en forme main */
.main-header h1 {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px; 
  color: #911C1C;
}

/* mise en forme des blocs photopgraphe */
.photographe-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* mise en forme des infos dans les blocs photographe */
.bloc-photographe {
  width: 331px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lien-photographe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photographe-img {
  width: 200px;
  height: 200px;
}

.photographe-nom {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  color: #D3573C;
}

.photographe-lieu {
  font-weight: bold;
  font-size: 13px;
  color: #901C1C;
}

.photographe-slogan {
  font-weight: bold;
  font-size: 10px;
  color: #000000;  
}

.photographe-prix {
  font-weight: bold;
  font-size: 9px;
  color: #757575;
}

/* mise en forme de la page de photographe */

.photographe-details {
  background-color: #FAFAFA;
  padding: 50px 20px;
  display: flex;
}

.photographe-details-texte {
  margin-right: 60px;
}

.photographe-details-texte ul {
  justify-content: flex-start;
}

.photographe-details-nom {
  font-weight: normal;
  font-size: 64px;
  color: #D3573C;
}

.photographe-details-lieu {
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 24px;
  color: #901C1C;
}

.photographe-details-slogan {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 18px;
  color: #525252;
}

.button-contact {
  height: 69px;
  width: 170px;
  background: #911C1C;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 18px;
  border: 0px solid transparent;
}

.button-contact:hover, .button-contact:focus {
  transition: 100ms;
  background: #DB8876;
  color: #000000;
}

.photographe-details-img {
  margin-left: auto;
}

.photographe-dropdown label {
  font-weight: bold;
  font-size: 18px;
  color: #000000;
}


