* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Class pour garder un texte visible uniquement au screen reader*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  border: none;
}

html {
  background-color: #FFFFFF;
  font-family: DM Sans;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* mise en forme page d'accueil */
body {
  max-width: 1320px;
  width: 90%;
  margin: 42px 100px 90px 100px;
  position: relative;
}

/* mise en forme header */
.body-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.body-header-img a {
  margin-left: 25px;
}

.header-nav ul{
  display: flex;
  justify-content: center;
}

.header-nav ul li{
  text-align: center;
}

.header-navigation-item a {
  text-decoration: none;
  color: inherit;
  width: 68px;
  height: 22px;
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 11px;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #911C1C;
  margin: 0 3px 0 3px;
  padding: 0 3px 0 3px;
}

.header-navigation-item a:hover,
.header-navigation-item a:focus {
  transition: 100ms;
  background: #911C1C;
  font-weight: normal;
  color: #FFFFFF;
}

.h1-placeholder {
  width: 306px;
}

/* mise en forme main */
.main-header h1 {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px; 
  color: #911C1C;
}

/* mise en forme des blocs photopgraphe */
.photographe-section {
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* mise en forme des infos dans les blocs photographe */
.bloc-photographe {
  width: 331px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lien-photographe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photographe-img {
  width: 200px;
  height: 200px;
}

.photographe-nom {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  color: #D3573C;
}

.photographe-lieu {
  font-weight: bold;
  font-size: 13px;
  color: #901C1C;
}

.photographe-slogan {
  font-weight: bold;
  font-size: 10px;
  color: #000000;  
}

.photographe-prix {
  font-weight: bold;
  font-size: 9px;
  color: #757575;
}

/* mise en forme de la page de photographe */

  /* mise en forme du bloc d'infos du photographe */
.photographe-details {
  background-color: #FAFAFA;
  padding: 50px 20px;
  margin-bottom: 20px;
  display: flex;
}

.photographe-details-texte {
  margin-right: 60px;
}

.photographe-details-texte ul {
  justify-content: flex-start;
}

.photographe-details-nom {
  font-weight: normal;
  font-size: 64px;
  color: #D3573C;
}

.photographe-details-lieu {
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 24px;
  color: #901C1C;
}

.photographe-details-slogan {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 18px;
  color: #525252;
}

.button-contact {
  height: 69px;
  width: 170px;
  background: #911C1C;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 18px;
  border: 0px solid transparent;
}

.button-contact:hover, .button-contact:focus {
  transition: 100ms;
  background: #DB8876;
  color: #000000;
}

.photographe-details-img {
  margin-left: auto;
}

/* mise en forme des infos de nbr de likes total et de prix */

.likes_prix {
  position: fixed;
  bottom: 0px;
  right: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #DB8876;
  height: 68px;
  width: 376px;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
  font-size: 24px;
}

.total_likes {
  display: flex;
}

.total_likes p {
  margin-right: 10px;
}

/* Mise en forme du dropdown de filtre */

.photographe-dropdown {
  display: flex;
}

.photographe-dropdown label {
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  margin: 10px 20px 0 0;
}

.custom_dropdown {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 69px;
  width: 170px;
  border-radius: 5px;
  background: #911C1C;
  font-size: 18px;
  color: #FFFFFF;
  padding-left: 20px;
}

.arrow {
  position: absolute;
  right: 10px;
}

.dropdown_options {
  display: none;
  position: absolute;
  margin-top: 1px;
  flex-direction: column;
  background: #911C1C;
  width: 170px;
  border-radius: 5px;
  font-size: 18px;
  color: #FFFFFF;
  padding: 15px 0 15px 0;
}

.options {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.option1:after, .option2:after {
  content: "";
  border-top: 1px white solid;
  margin: 14px 0 14px -10px;
  width: 100%;
}

/* mise en forme des media dans les portfolio des photographe */

.portfolio_photographe {
  margin-top: 40px;
}

.portfolio_photographe ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.portfolio_photographe li {
  margin: 0 5px 20px 5px;
}

.portfolio_photographe a img, .portfolio_photographe a video {
  width: 350px;
  height: 351px;
  object-fit: cover;
  border-radius: 5px;
}

/* mise en forme des infos des medias dans la page photographe */

.media_detail {
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  font-size: 24px;
  color: #911C1C;
}

.media_prix_likes, .media_likes {
  display: flex;
  font-weight: bold;
}

.media_titre {
  max-width: 210px;
}

.media_likes {
  margin-left: 30px;
}

.media_likes p {
  margin-right: 5px;
  line-height: 30px;
}


/* design responsive */

  /* design reponsive de l'index */
@media all and (max-width: 1360px) {
  .body-header-img img {
    width: 150px;
    height: 37.5px;
  }

  .main-header h1 {
    font-size: 17px;
    top: 10px;
  }

  .h1-placeholder {
    width: 180px;
  }

  .body-header .header-nav {
    position: absolute;
    top: 70px;
    width: 100%;
  }

  .header-nav ul {
    flex-wrap: wrap;
  }
}

@media all and (max-width: 879px) {
  .body-index {
    margin: 42px 0px 90px 0px;
  }

  .main-header h1 {
    margin-right: 0px;
  }

  .body-header-img a {
    margin-left: 0px;
  }

  .photographe-section {
    justify-content: center;
  }
}


  /* design reponsive de la page photographe */
@media all and (max-width: 1297px) {
  .portfolio_photographe ul {
    justify-content: space-around;
  }
}

@media all and (max-width: 970px) {
  .button-contact {
    position: fixed;
    bottom: 30px;
    width: 170px;
    height: 35px;
    font-weight: normal;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .likes_prix {
    display: none;
  }
}

@media all and (max-width: 800px) {
  .body-photographe {
    margin: 42px 0px 90px 0px;
  }

  .photographe-details {
    background-color: #FFFFFF;
  }
}

@media all and (max-width: 665px) {
  .photographe-dropdown {
    display: none;
  }

  .photographe-img {
    width: 130px;
    height: 130px;
  }

  .photographe-details {
    padding: 0px 0px;
  }

  .photographe-details-nom {
    font-size: 30px;
  }

  .photographe-details-lieu {
    font-size: 20px;
  }

  .photographe-details-slogan {
    font-size: 15px;
  }
}